<section class="advantages-section" id="advantages">
  <div class="container advantages-section-container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-discription">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantages-list">
      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              /img/advantages/eco-desk.jpg    1x,
              /img/advantages/eco-desk@2x.jpg 2x
            "
            media="(min-width:1440px)"
            width="421"
            height="249"
          />
          <source
            srcset="
              /img/advantages/eco-tab.jpg    1x,
              /img/advantages/eco-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
            width="340"
            height="201"
          />
          <source
            srcset="
              /img/advantages/eco-mob.jpg    1x,
              /img/advantages/eco-mob@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="288"
            height="198"
          />
          <img
            class="advantages-img"
            src="/img/advantages/eco-mob.jpg"
            alt="materials"
            width="288"
            height="198"
          />
        </picture>

        <h3 class="advantages-text-title">Стійкість та екологічність</h3>
        <p class="advantages-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              /img/advantages/manufacture-desk.jpg    1x,
              /img/advantages/manufacture-desk@2x.jpg 2x
            "
            media="(min-width:1440px)"
            width="421"
            height="249"
          />
          <source
            srcset="
              /img/advantages/manufacture-tab.jpg    1x,
              /img/advantages/manufacture-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
            width="340"
            height="201"
          />
          <source
            srcset="
              /img/advantages/manufacture-mob.jpg    1x,
              /img/advantages/manufacture-mob@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="288"
            height="198"
          />
          <img
            class="advantages-img"
            src="/img/advantages/manufacture-mob.jpg"
            alt="manufacture"
            width="288"
            height="198"
          />
        </picture>

        <h3 class="advantages-text-title">Міцність і довговічність</h3>
        <p class="advantages-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>

      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              /img/advantages/design-desk.jpg    1x,
              /img/advantages/design-desk@2x.jpg 2x
            "
            media="(min-width:1440px)"
            width="421"
            height="249"
          />
          <source
            srcset="
              /img/advantages/design-tab.jpg    1x,
              /img/advantages/design-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
            width="704"
            height="417"
          />
          <source
            srcset="
              /img/advantages/design-mob.jpg    1x,
              /img/advantages/design-mob@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="288"
            height="198"
          />
          <img
            class="advantages-img"
            src="/img/advantages/design-mob.jpg"
            alt="bags"
            width="288"
            height="198"
          />
        </picture>

        <h3 class="advantages-text-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
