<p>
    ### Advantages <br>

- Текст "Переваги" - підзаголовок. <br>
- Текст "Чому обрати нас?" є заголовком секції. <br>
- Текст з перевагами виробів - опис секції. <br>
- У секції знаходиться перелік переваг виробів компанії, який необхідно
  реалізувати як список елементів за допомогою `<ul>`. <br>
- Кожен елемент списку є карткою, що містить у собі: <br>
  - зображення - повинно бути контентним. <br>
  - заголовок - повинен мати рівень нижчий, ніж заголовок секції. <br>
  - текст з описом. <br>

---

</p>