<section class="section assortment">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/1Beige organic cotton tote bag on linen background.jpg x1,
                    /img/assortment/Desktop/1Beige organic cotton tote bag on linen background@2x.jpg x2"
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/1Beige organic cotton tote bag on linen background.jpg x1,
                    /img/assortment/Tablet/1Beige organic cotton tote bag on linen background@2x.jpg x2"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/1Beige organic cotton tote bag on linen background.jpg x1,
                    /img/assortment/Phone/1Beige organic cotton tote bag on linen background@2x.jpg x2"
            alt="Beige organic cotton tote bag on linen background"
            width=""
            src="/img/assortment/Phone/1Beige organic cotton tote bag on linen background.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoBag Classic</h3>
        <p class="assortment-text">
          Елегантна та містка сумка для щоденного використання.
        </p>
        <p class="assortment-price">$25</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/2Reusable grocery tote on kitchen counter.jpg 1x, /img/assortment/Desktop/2Reusable grocery tote on kitchen counter@2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/2Reusable grocery tote on kitchen counter.jpg 1x, /img/assortment/Tablet/2Reusable grocery tote on kitchen counter@2x.jpg 2x"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/2Reusable grocery tote on kitchen counter.jpg 1x, /img/assortment/Phone/2Reusable grocery tote on kitchen counter@2x.jpg 2x"
            alt="Reusable grocery tote on kitchen counter"
            width="288"
            src="/img/assortment/Phone/2Reusable grocery tote on kitchen counter.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoTote Shopper</h3>
        <p class="assortment-text">
          Ідеальна для покупок, з посиленими ручками.
        </p>
        <p class="assortment-price">$30</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/3Olive green hemp backpack on bench with bottle and laptop.jpg x1,
            /img/assortment/Desktop/3Olive green hemp backpack on bench with bottle and laptop@2x.jpg x2"
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/3Olive green hemp backpack on bench with bottle and laptop.jpg x1, 
                          /img/assortment/Tablet/3Olive green hemp backpack on bench with bottle and laptop@2x.jpg x2"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/3Olive green hemp backpack on bench with bottle and laptop.jpg x1, 
                    /img/assortment/Phone/3Olive green hemp backpack on bench with bottle and laptop@2x.jpg x2"
            alt="Olive green hemp backpack on bench with bottle and laptop"
            width="288"
            src="/img/assortment/Phone/3Olive green hemp backpack on bench with bottle and laptop.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoBackpack Urban</h3>
        <p class="assortment-text">
          Зручний рюкзак для міста з відділенням для ноутбука.
        </p>
        <p class="assortment-price">$45</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/4Minimalist crossbody bag on beige background.jpg x1,
                    /img/assortment/Desktop/4Minimalist crossbody bag on beige background@2x.jpg x2
          "
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/4Minimalist crossbody bag on beige background.jpg x1,
                    /img/assortment/Tablet/4Minimalist crossbody bag on beige background@2x.jpg x2"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/4Minimalist crossbody bag on beige background.jpg x1,
                    /img/assortment/Phone/4Minimalist crossbody bag on beige background@2x.jpg x2"
            alt="Minimalist crossbody bag on beige background"
            width="288"
            src="/img/assortment/Phone/4Minimalist crossbody bag on beige background.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoCrossbody Mini</h3>
        <p class="assortment-text">
          Компактна сумка через плече для найнеобхіднішого.
        </p>
        <p class="assortment-price">$20</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/5Organic cotton lunch bag with food on table.jpg x1,
                    /img/assortment/Desktop/5Organic cotton lunch bag with food on table@2x.jpg x2
          "
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/5Organic cotton lunch bag with food on table.jpg x1,
                    /img/assortment/Tablet/5Organic cotton lunch bag with food on table@2x.jpg x2"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/5Organic cotton lunch bag with food on table.jpg x1,
                    /img/assortment/Phone/5Organic cotton lunch bag with food on table@2x.jpg x2"
            alt="Organic cotton lunch bag with food on table"
            width="288"
            src="/img/assortment/Phone/5Organic cotton lunch bag with food on table.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoLunch Bag</h3>
        <p class="assortment-text">Стильна та практична сумка для обідів.</p>
        <p class="assortment-price">$15</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/6Cream and blue beach tote on sandy beach.jpg x1, 
            /img/assortment/Desktop/6Cream and blue beach tote on sandy beach@2x.jpg x2"
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/6Cream and blue beach tote on sandy beach.jpg x1, 
            /img/assortment/Tablet/6Cream and blue beach tote on sandy beach@2x.jpg x2"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/6Cream and blue beach tote on sandy beach.jpg x1, 
            /img/assortment/Phone/6Cream and blue beach tote on sandy beach@2x.jpg x2"
            alt="Cream and blue beach tote on sandy beach"
            width="288"
            src="/img/assortment/Phone/6Cream and blue beach tote on sandy beach.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoBeach Tote</h3>
        <p class="assortment-text">
          Велика сумка для пляжних речей з водонепроникною підкладкою.
        </p>
        <p class="assortment-price">$35</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/7Dark green recycled travel duffle next to suitcase on floor.jpg x1,
            /img/assortment/Desktop/7Dark green recycled travel duffle next to suitcase on floor@2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Tablet/7Dark green recycled travel duffle next to suitcase on floor.jpg x1,
          /img/assortment/Tablet/7Dark green recycled travel duffle next to suitcase on floor@2x.jpg 2x"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/7Dark green recycled travel duffle next to suitcase on floor.jpg x1,
            /img/assortment/Phone/7Dark green recycled travel duffle next to suitcase on floor@2x.jpg 2x"
            alt="Dark green recycled travel duffle next to suitcase on floor"
            width="288"
            src="/img/assortment/Phone/7Dark green recycled travel duffle next to suitcase on floor.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoTravel Duffle</h3>
        <p class="assortment-text">
          Містка дорожня сумка з додатковими кишенями.
        </p>
        <p class="assortment-price">$60</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source
            srcset="/img/assortment/Desktop/8Colorful eco-friendly kid's backpack on bench with shoes and notebook.jpg 1x, 
            /img/assortment/Desktop/8Colorful eco-friendly kid's backpack on bench with shoes and notebook@2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="/img/assortment/Desktop/8Colorful eco-friendly kid's backpack on bench with shoes and notebook.jpg 1x, 
          /img/assortment/Desktop/8Colorful eco-friendly kid's backpack on bench with shoes and notebook@2x.jpg 2x"
            media="(min-width:768px)"
          />
          <img
            class="assortment-list-img"
            srcset="/img/assortment/Phone/8Colorful eco-friendly kid's backpack on bench with shoes and notebook.jpg 1x, 
            /img/assortment/Phone/8Colorful eco-friendly kid's backpack on bench with shoes and notebook@2x.jpg 2x"
            alt="Colorful eco-friendly kid's backpack on bench with shoes and notebook"
            width="288"
            src="/img/assortment/Phone/8Colorful eco-friendly kid's backpack on bench with shoes and notebook.jpg"
          />
        </picture>
        <h3 class="assortment-subtitle">EcoKids Bag</h3>
        <p class="assortment-text">Яскрава та зручна сумка для дітей.</p>
        <p class="assortment-price">$22</p>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
