<p>
    ### Assortment <br>

- Текст "Наші сумки" є заголовком секції. <br>
- У секції знаходиться перелік продукції компанії, який необхідно реалізувати як
  список елементів за допомогою `<ul>`. <br>
- Кожен елемент списку є карткою, що містить у собі: <br>
  - зображення - повинно бути контентним. <br>
  - заголовок з назвою виробу - повинен мати рівень нижчий, ніж заголовок
    секції. <br>
  - текст з описом. <br>
  - ціна. <br>
  - кнопка "Купити" - з типом button. <br>
- Клік по кнопці "Купити" переадресовує за якірним посиланням на форму
  зворотного зв'язку - секція Support. <br>

</p>