<section class="section assortment">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>

      <li class="assortment-list-item">
        <picture>
          <source srcset="" media="(min-width:1440px)" />
          <source srcset="" media="(min-width:768px)" />
          <img class="" srcset="" alt="" width="" src="" />
        </picture>
        <h3 class="assortment-subtitle"></h3>
        <p class="assortment-text"></p>
        <p class="assortment-price"></p>
        <button class="assortment-btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
