<section class="feedbacks-section">
  <div class="container feedbacks-container">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <ul class="feedbacks-list-icons">
          <li class="feedbacks-list-icons-item">
            <svg class="feedbacks-icons" width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-user-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <h3 class="feedbacks-user-name">Анна</h3>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-list-icons">
          <li class="feedbacks-list-icons-item">
            <svg class="feedbacks-icons" width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-user-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <h3 class="feedbacks-user-name">Ігор</h3>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-list-icons">
          <li class="feedbacks-list-icons-item">
            <svg class="feedbacks-icons" width="20" height="19">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-user-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <h3 class="feedbacks-user-name">Олена</h3>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-list-icons">
          <li class="feedbacks-list-icons-item">
            <svg class="feedbacks-icons" width="20" height="19">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-list-icons-item" width="20" height="19">
            <svg class="feedbacks-icons">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-user-text">
          Швидка доставка та гарне обслуговування.
        </p>
        <h3 class="feedbacks-user-name">Сергій</h3>
      </li>
    </ul>
  </div>
</section>
