### Footer <br />

- Логотип - працює аналогічно до логотипу в хедері. <br />
- Навігаційне меню - працює аналогічно до навігаційного меню в хедері на
десктопі. <br />
- Список соцмереж - посилання, що переадресовують на сторінку відповідного
ресурсу, яка відкривається в новій вкладці: <br />
- Instagram - [https://www.instagram.com/](https://www.instagram.com/) <br />
- LinkedIn - [https://www.linkedin.com/](https://www.linkedin.com/) <br />
- YouTube - [https://www.youtube.com/](https://www.youtube.com/) <br />
- Контактна інформація - працює аналогічно до блоку з контактною інформацією в
хедері на десктопі. <br />
- Копірайт - текст про захист прав. <br />
