
<footer class="footer">
  <div class="container">
    <div class="footer-nav-wrapper">
      <a class="footer-logo" href="./index.html">
        <img
          class="footer-logo-img"
          src="/img/logo.svg"
          alt="logotype"
          width="271"
          height="101"
        />
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about">Про нас</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#advantages">Переваги</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#assortment">Асортимент</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#gallery">Галерея</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#feedbacks">Відгуки</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#support">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="footer-socials">
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              aria-label="instagram"
            >
              <svg class="footer-socials-svg" width="32" height="32">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.linkedIn.com/"
              target="_blank"
              aria-label="linkedIn"
            >
              <svg class="footer-socials-svg" width="32" height="32">
                <use href="/img/sprite.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.youtube.com/"
              target="_blank"
              aria-label="youtube"
            >
              <svg class="footer-socials-svg" width="32" height="32">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <address class="footer-address">
      <a class="footer-address-link" href="tel:+380999091122"
        >+38 (099) 909 11 22</a
      >
      <a class="footer-address-link" href="mailto:hello@ecotote.com"
        >hello@ecotote.com</a
      >
    </address>
    <p class="copyrights">&copy; 2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
