<!-- GALLERY SECTION -->

<section class="section" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-1-desktop.jpg    1x,
              /img/gallery-img/gallery-img-1-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-1-tablet.jpg    1x,
              /img/gallery-img/gallery-img-1-tablet@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/gallery-img-1-mobile.jpg"
            srcset="/img/gallery-img/gallery-img-1-mobile@2x.jpg 2x"
            alt="Eco tote on a chair beside a table in a cozy coffee shop with a cup, book, and laptop. Minimal and aesthetic setting."
            width="288"
            height="288"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-2-desktop.jpg    1x,
              /img/gallery-img/gallery-img-2-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-2-tablet.jpg    1x,
              /img/gallery-img/gallery-img-2-tablet@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/gallery-img-2-mobile.jpg"
            srcset="/img/gallery-img/gallery-img-2-mobile@2x.jpg 2x"
            alt="Stylish person carrying a modern tote bag at a city crosswalk with urban backdrop, bicycles, and pedestrians."
            width="288"
            height="288"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-3-desktop.jpg    1x,
              /img/gallery-img/gallery-img-3-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-3-tablet.jpg    1x,
              /img/gallery-img/gallery-img-3-tablet@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/gallery-img-3-mobile.jpg"
            srcset="/img/gallery-img/gallery-img-3-mobile@2x.jpg 2x"
            alt="Person walking in a park with an eco-friendly tote bag, surrounded by trees and grass in a spring or summer setting."
            width="288"
            height="288"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-4-desktop.jpg    1x,
              /img/gallery-img/gallery-img-4-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/jpg"
            srcset="
              /img/gallery-img/gallery-img-4-tablet.jpg    1x,
              /img/gallery-img/gallery-img-4-tablet@2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/gallery-img-4-mobile.jpg"
            srcset="/img/gallery-img/gallery-img-4-mobile2x.jpg 2x"
            alt="Young woman holding a large eco tote filled with fresh produce at a farmer's market, with wooden crates and greenery."
            width="288"
            height="288"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>

<!-- /GALLERY SECTION -->
