<!-- GALLERY SECTION -->

<section class="section">
  <h2 class="gallery-title"></h2>
  <h3 class="gallery-subtitle"></h3>
  <ul class="gallery-list">
    <li class="gallery-list-item">
      <picture>
        <source media="(min-width: 1440px)" type="image/jpg" srcset="" />
        <source media="(min-width: 768px)" type="image/jpg" srcset="" />
        <img src="" srcset="" alt="" width="" height="" loading="lazy" />
      </picture>
    </li>
    <li class="gallery-list-item">
      <picture>
        <source media="(min-width: 1440px)" type="image/jpg" srcset="" />
        <source media="(min-width: 768px)" type="image/jpg" srcset="" />
        <img src="" srcset="" alt="" width="" height="" loading="lazy" />
      </picture>
    </li>
    <li class="gallery-list-item">
      <picture>
        <source media="(min-width: 1440px)" type="image/jpg" srcset="" />
        <source media="(min-width: 768px)" type="image/jpg" srcset="" />
        <img src="" srcset="" alt="" width="" height="" loading="lazy" />
      </picture>
    </li>
    <li class="gallery-list-item">
      <picture>
        <source media="(min-width: 1440px)" type="image/jpg" srcset="" />
        <source media="(min-width: 768px)" type="image/jpg" srcset="" />
        <img src="" srcset="" alt="" width="" height="" loading="lazy" />
      </picture>
    </li>
  </ul>
</section>

<!-- /GALLERY SECTION -->
