<header>
<nav class="page-navbar">

  <div class="container">
    <div class="logotype-box">
    <a class="logotype" href="#"><img src="/img/other-img/logo.svg" alt="Логотип">
    </a>
    </div>

    <ul class="page-menu">
      <li class="page-menu-item">
        <a class="page-menu-link" href="./index.html">Про нас</a>
      </li>

      <li class="page-menu-item"> <a href="#" class="page-menu-link">Переваги</a> </li>

      <li class="page-menu-item"> <a href="#" class="page-menu-link">Ассортимент</a> </li>

      <li class="page-menu-item"> <a href="#" class="page-menu-link">Галерея</a> </li>

      <li class="page-menu-item"> <a href="#" class="page-menu-link">Відгуки</a> </li>

      <li class="page-menu-item"> <a href="#" class="page-menu-link">Контакти</a> </li>
    </ul>


    <address>

      <ul class="address-list">
        <li class="address-list-item"> <a href="tel:+380999091122" class="address-link">+38 (099) 909-11-22 </a> </li>
        <li> <a href="mailto:hello@ecocote.com" class="tel-link">hello@ecocote.com</a> </li>
      </ul>
    </address>
    <button class="navbar-burger-btn" type="button">
      <svg class="navbar-burger-btn-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

</nav>

</header>