<img
  src="/img/other-img/Navbar.jpg"
  alt="xe"
  style="margin: 0 auto"
  width="1440"
/>
<img
  src="/img/other-img/Header.jpg"
  alt="xe"
  style="margin: 0 auto"
  width="1440"
/>
<img
  src="/img/other-img/feature.jpg"
  alt="xe"
  style="margin: 0 auto"
  width="1440"
/>
<img
  src="/img/other-img/Layout.jpg"
  alt="xe"
  style="margin: 0 auto"
  width="1440"
/>
<p>
  ### Header <br />

  #### Десктопна версія <br />

  - Логотип - іконка з текстом у лівій частині хедера у форматі SVG. Клік по
  логотипу переадресовує на головну сторінку. <br />
  - Навігаційне меню - складається з пунктів, клік по яких виконує перехід за
  якірним посиланням до відповідного блоку: <br />
  - Про нас - перехід до секції "Про еко-сумки". <br />
  - Переваги - перехід до секції "Переваги наших сумок". <br />
  - Асортимент - перехід до секції "Асортимент". <br />
  - Галерея - перехід до секції "Галерея". <br />
  - Відгуки - перехід до секції "Відгуки клієнтів". <br />
  - Контакти - перехід до секції з формою. <br />
  - Контактна інформація. Містить в собі: <br />
  - номер телефону - клікабельне посилання для здійснення дзвінка. <br />
  - e-mail адреса - клікабельне посилання для відкриття поштового клієнта.
  <br />

  #### Мобільна та планшетна версії <br />

  - Логотип - іконка з текстом у лівій частині хедера у форматі SVG. Клік по
  логотипу переадресовує на головну сторінку. <br />
  - Кнопка з іконкою бургер-меню - кнопка з типом button, по кліку на яку
  відкривається бургер меню. <br />

  ---
</p>
