<section class="container section-hero">
  <h1 class="main-title">EcoTote — Стиль, що не шкодить планеті</h1>
  <div class="section-content">
    <p class="section-p">
      Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
      відповідальність разом з EcoTote.
    </p>
    <a class="button-primary" href="#assortment">Купити зараз</a>
  </div>
  <div class="hero-image-wrap">
    <picture>
      <!-- Desktop -->
      <source
        media="(min-width: 1440px)"
        type="image/webp"
        srcset="/img/hero/hero-d.webp 1x, /img/hero/hero-d@2x.webp 2x"
      />
      <source
        media="(min-width: 1440px)"
        type="image/jpeg"
        srcset="/img/hero/hero-d.png 1x, /img/hero/hero-d@2x.png 2x"
      />

      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="/img/hero/hero-t.webp 1x, /img/hero/hero-t@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        type="image/jpeg"
        srcset="/img/hero/hero-t.png 1x, /img/hero/hero-t@2x.png 2x"
      />

      <!-- Mobile -->
      <source
        type="image/webp"
        srcset="/img/hero/hero-m.webp 1x, /img/hero/hero-m@2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="/img/hero/hero-m.png 1x, /img/hero/hero-m@2x.png 2x"
      />

      <img class="hero-image" src="/img/hero/hero-d.png" alt="Hero image" />
    </picture>
  </div>
</section>
