<p>
  --- ### Burger <br />

  - Логотип - іконка з текстом у форматі SVG. Клік по логотипу переадресовує на
  головну сторінку. <br />
  - Навігаційне меню - працює аналогічно до блоку з навігаційним меню в хедері
  на десктопі. <br />
  - Контактна інформація - працює аналогічно до блоку з контактною інформацією в
  хедері на десктопі. <br />
  - Бургер меню повинно відкриватись або закриватись при додаванні або видаленні
  класу `is-open` з контейнера блоку меню. <br />
</p>
<div class="open-navbar-menu-overlay">
  <div class="open-navbar-menu">

    <div class="open-navbar-header">
      <a class="logotype" href="#"><img src="../img/other-img/logo.svg" alt="Логотип"></a>
    
      <button class="navbar-close-btn" type="button">
        <svg class="navbar-close-btn-icon" width="8" height="8">
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="open-menu-navbar-nav-container">
      <nav class="open-menu-navbar">
        <ul class="open-menu-nav-list">
          <li class="open-menu-nav-list-item">
            <a href="/index.html" class="navbar-menu-nav-link">Про нас</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#portf" class="navbar-menu-nav-link">Переваги</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#address" class="navbar-menu-nav-link">Асортимент</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="/index.html" class="navbar-menu-nav-link">Галерея</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#portf" class="navbar-menu-nav-link">Відгуки</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#address" class="navbar-menu-nav-link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="navbar-address-container">
      <ul class="open-navbar-contacts">
        <li class="open-navbar-contacts-item">
          <a href="tel:+380999091122" class="navbar-address-link">+38 (099) 909-11-22
          </a>
        </li>
        <li class="open-navbar-contacts-item">
          <a href="mailto:hello@ecocote.com" class="navbar-address-link">hello@ecocote.com</a>
        </li>
      </ul>
    </div>
  </div>


</div>