<div class="open-navbar-menu-overlay">
  <div class="open-navbar-menu">
    <div class="open-navbar-header">
      <a class="logotype" href="#"><img src="/img/other-img/logo.svg" alt="Логотип" />
      </a>

      <button class="navbar-close-btn" type="button" aria-label="close-menu">
        <svg class="navbar-close-btn-icon">
          <use href="/img/sprite.svg#icon-close" width="32"></use>
        </svg>
      </button>
    </div>

    <div class="open-menu-navbar-nav-container">
      <nav class="open-menu-navbar">
        <ul class="open-menu-nav-list">
          <li class="open-menu-nav-list-item">
            <a href="#about" class="navbar-menu-nav-link">Про нас</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#advantages" class="navbar-menu-nav-link">Переваги</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#assortment" class="navbar-menu-nav-link">Асортимент</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#gallery" class="navbar-menu-nav-link">Галерея</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#feedbacks" class="navbar-menu-nav-link">Відгуки</a>
          </li>
          <li class="open-menu-nav-list-item">
            <a href="#support" class="navbar-menu-nav-link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="navbar-address-container">
      <ul class="open-navbar-contacts">
        <li class="open-navbar-contacts-item">
          <a href="tel:+380999091122" class="navbar-address-link">+38 (099) 909-11-22
          </a>
        </li>
        <li class="open-navbar-contacts-item">
          <a href="mailto:hello@ecocote.com" class="navbar-address-link">hello@ecocote.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>