<p>
  ### Support <br />

  - Текст "Залишились питання? Зв'яжіться з нами!" є заголовком секції. <br />
  - Текст "Ми тут, щоб допомогти!" - підзаголовок. <br />
  - Форма містить у собі обовʼязкові до заповнення елементи: <br />
  - `input` (котрим необхідно додати мінімальну валідацію даних для введення
  <br />
  за допомогою атрибуту `pattern`): <br />
  - email: `^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$` <br />
  - name: `^[a-zA-Z\s.]{5,64}$` <br />
  - `textarea` - максимум 500 символів. <br />
  - кнопка "Надіслати" типу submit. <br />
  - Для стилізації бордера у разі валідного/невалідного введеного значення слід
  використовувати псевдокласи `:valid`/`:invalid`. <br />
  - Зображення повинно бути реалізовано як фонове зображення. <br />

  ---
</p>
