<section class="support-section" id="support">
  <div class="container support-container">
    <div class="support-mail-box">
      <h2 class="mail-title">Залишились питання? Зв'яжіться з нами!</h2>
      <h3 class="mail-subtitle">Ми тут, щоб допомогти!</h3>
      <form>
        <div class="support-mail-item">
          <label class="support-mail-lable" for="user-name">Ім'я</label>
          <input
            class="support-mail-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Іван"
            pattern="^[a-zA-Zа-яА-ЯіІїЇєЄ\s.]{2,64}$"
            title="Ім'я має містити від 2 до 64 символів"
            required
          />
          <div class="error-text">Ім'я має містити від 2 до 64 символів</div>
        </div>

        <div class="support-mail-item">
          <label class="support-mail-lable" for="user-email"
            >Електронна пошта</label
          >
          <input
            class="support-mail-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="hello@ecotote.com"
            title="Введіть коректну email адресу"
            required
          />
          <div class="error-text">Введіть коректну email адресу</div>
        </div>

        <div class="support-mail-item">
          <label class="support-mail-lable" for="user-message"
            >Повідомлення</label
          >

          <textarea
            class="support-mail-message"
            name="user-message"
            id="user-message"
            placeholder="Введіть своє повідомлення..."
            maxlength="500"
            minlength="10"
            title="Повідомлення має містити від 10 до 500 символів"
            required
          ></textarea>
          <div class="error-text">Повідомлення має містити від 10 до 500 символів</div>
        </div>

        <button class="button-primary" type="submit">Надіслати</button>
      </form>
    </div>
    <div>
      <picture>
        <source
          media="(min-width: 1440px)"
          type="image/jpeg"
          srcset="
            /img/support-img/img-mail-desktop.jpg   1x,
            /img/support-img/img-mail-desktop@2.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/jpeg"
          srcset="
            /img/support-img/img-mail-tablet.jpg   1x,
            /img/support-img/img-mail-tablet@2.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          srcset="
            /img/support-img/img-mail-mobile.jpg   1x,
            /img/support-img/img-mail-mobile@2.jpg 2x
          "
        />
        <img
          class="hero-image"
          src="/img/support-img/img-mail-mobile.jpg"
          alt="Picture for contact form"
        />
      </picture>
    </div>
  </div>
</section>
<!-- . -->
