/* Phone */

.about {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/about/phone/phone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/phone/phone@2x.jpg);
  }
}

.about-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}
.about-subtitle {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.about-text {
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/tab/tablet.jpg);
  }

  .about-title {
    margin-bottom: 16px;
  }

  .about-subtitle {
    margin-bottom: 24px;
  }

  .about-text {
    font-size: 18px;
  }
}

@media and (min-resolution: 192dpi) {
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/tab/tablet@2x.jpg);
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .about {
    padding-top: 112px;
    padding-bottom: 94px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/desktop/desktop.jpg);
    width: 1440px;
  }

  .about-subtitle {
    font-size: 56px;
    width: 629px;
    margin: 0 auto;
  }

  .about-text {
    margin-top: 24px;
  }
}

@media screen and (min-resolution: 192dpi) {
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/desktop/desktop@2x.jpg);
  }
}
