.container {
  margin: 0 auto;
}

/* mobile only */
@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* tablet only */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* desktop only */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
