@media screen {
  .footer {
    background-color: var(--color-emerald-light);
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }
  .footer-logo-img {
    padding-top: 9px;
    padding-bottom: 11px;
  }
  .footer-nav {
    margin-bottom: 48px;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .footer-nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-2-text);
    transition: opacity 0.3s ease;
  }
  .footer-nav-link:hover {
    color: var(--color-emerald-darkest);
    opacity: 0.6;
  }
  .footer-nav-link:focus {
    color: var(--color-neutral-darkest);
    opacity: 0.5;
  }
  .footer-socials {
    margin-bottom: 48px;
  }
  .footer-socials-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    line-height: 0;
  }
  .footer-socials-svg {
    color: var(--color-scheme-2-text);
    transition: opacity 0.3s ease;
  }
  .footer-socials-svg:hover {
    color: var(--color-emerald-darkest);
    opacity: 0.6;
  }
  .footer-socials-svg:focus {
    color: var(--color-neutral-darkest);
    opacity: 0.5;
  }
  .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    margin-bottom: 24px;
    border-top: 1px solid var(--color-scheme-2-border);
  }
  .footer-address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-2-text);
    transition: opacity 0.3s ease;
  }
  .footer-address-link:hover {
    color: var(--color-emerald-darkest);
    opacity: 0.6;
  }
  .footer-address-link:focus {
    color: var(--color-neutral-darkest);
    opacity: 0.5;
  }
  .copyrights {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-2-text);
  }
  @media screen and (min-width: 768px) {
    .footer {
      padding-top: 64px;
    }
    .footer-logo {
      margin-bottom: 32px;
    }
    .footer-logo-img {
      width: 160px;
      height: 70px;
      padding-top: 5px;
      padding-right: 3px;
      padding-bottom: 6px;
      padding-left: 3px;
    }
    .footer-nav {
      margin-bottom: 32px;
    }
    .footer-nav-list {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 32px;
    }
    .footer-socials {
      margin-bottom: 24px;
    }
    .footer-socials-svg {
      width: 40px;
      height: 40px;
    }
    .footer-address {
      flex-direction: row;
      justify-content: center;
      gap: 32px;
      padding-top: 16px;
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 1440px) {
    .footer {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .footer-nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 52px;
    }
    .footer-logo {
      margin-bottom: 0;
    }
    .footer-nav {
      margin-bottom: 0;
    }
    .footer-nav-list {
      margin-bottom: 0;
    }
    .footer-socials {
      margin-bottom: 0;
    }
    .footer-socials-svg {
      width: 24px;
      height: 24px;
    }
  }
}
