.section {
  margin-top: 32px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    margin-top: 64px;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    margin-bottom: 64px;
  }
}
