.navbar-wrapper {
  width: 100vw;
  background-color: #75d281;
}
.container {
  width: 100vw;
}

/* NAVBAR */
.page-navbar {
  margin: auto;
  width: 100%;
}
.page-navbar .container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #75d281;
}
.logotype img {
  width: 84px;
  height: 36px;
}
.page-menu {
  display: none;
}
.address-list {
  display: none;
}
.navbar-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75d281;
  border: none;
}
.navbar-burger-btn-icon:hover {
  fill-opacity: 0.5;
}
.navbar-burger-btn-icon:focus {
  fill-opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .page-navbar {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-menu {
    max-width: 768px;
    min-height: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .page-navbar {
    max-width: 1440px;
  }

  .page-navbar .container {
    padding: 0px 64px;
  }
  .page-navbar .logotype img {
    width: 107px;
    height: 46px;
  }
  .page-menu {
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    line-height: 1.6;
    color: #030a06;
    margin: 23px 0px;
  }

  .page-menu-item {
    margin-right: 32px;
    gap: 10px;
  }
  .page-menu-item:last-child {
    margin-right: 0px;
  }

  .address-list {
    display: flex;
  }

  .address-list-item {
    display: flex;
    padding-right: 0;
    margin-right: 32px;
  }

  .navbar-burger-btn {
    display: none;
  }

  .page-menu-link:hover {
    opacity: 0.5;
  }
  .page-menu-link:focus {
    opacity: 0.6;
  }
  .tel-link:hover {
    opacity: 0.5;
  }

  .tel-link:focus {
    opacity: 0.6;
  }
  .address-link,
  .tel-link {
    font-style: normal;
  }
  .address-link:hover {
    opacity: 0.5;
  }
  .address-link:focus {
    opacity: 0.6;
  }
}
