/*  OPEN NAVBAR*/
.open-navbar-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.open-navbar-menu-overlay.is-open {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: auto;
}
.open-navbar-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 668px;
  padding: 0;
  background-color: #75d281;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 16px 20px;
}

.logotype img {
  width: 84px;
  height: 36px;
}
.open-menu-navbar-nav-container {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 32px 20px 0px 20px;
}
.open-menu-nav-list-item {
  margin-bottom: 32px;
}
.navbar-address-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 16px;
}
.open-navbar-contacts-item:first-child {
  margin-bottom: 16px;
}

.navbar-close-btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 20px;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .open-navbar-menu {
    min-height: 672px;
    width: 768px;
  }
  .open-navbar-header {
    padding: 14px 32px;
  }
  .open-menu-navbar-nav-container {
    margin-bottom: 32px;
    padding: 32px;
  }
  .navbar-address-container {
    padding-top: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1440px) {
    .open-navbar-menu,
    .open-navbar-menu.is-open {
      display: none;
    }
  }
}
.navbar-menu-nav-link:hover {
  opacity: 0.5;
}
.navbar-menu-nav-link:focus {
  opacity: 0.6;
}
.navbar-address-link:hover {
  opacity: 0.5;
}
.navbar-address-link:focus {
  opacity: 0.6;
}
